.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  .footer {
    background-color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: darkgoldenrod;
    font-size: larger;
    height: 150px;
    margin-top: 2em;
  }