.tienda__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    justify-content: center;
  }
  .card {
    background-color: rgba(46, 45, 45, 0.486);
    padding: 10px;
    margin: 20px;
    border: 5px solid darkgoldenrod;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d4d2d0;
  }
  .tituloTienda,
.subtitulo {
  color: darkgoldenrod;
  text-align: center;
}