* {
  padding: 0;
  margin: 0;
}
body{
  background-image: url("/imagenes/1.jpg");
}



.header {
  
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}
li {
  border-bottom: 5px solid darkgoldenrod;
  margin: 10px;
  margin-bottom: 5px;
  list-style-type: none;
}
.logo {
  width: 100px;
  height: 100px;
  border: 4px solid black;
}
.footer {
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkgoldenrod;
  font-size: larger;
  height: 150px;
  margin-top: 2em;
}
.footer__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.bienvenida {
  background-color: black;
  height: 220px;
  width: 300px;
  color: darkgoldenrod;
  text-transform: capitalize;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 35px;
  border: 8px outset darkgoldenrod;
  
}
.bienvenida:hover{
  height: 240px;
  width: 310px;
}
.imagen__principal:hover {
    height: 310px;
    animation: ease-in animat 1s;   
}

@keyframes animat {
    0% {
      width: 400px;
    }
    100% {
      width: 420px;
    }
  }
.formulario {
  background-color: black;
  margin: auto;
  width: 300px;
  padding: 25px;
  margin-top: 100px;
  color: white;
  display: flex;
  flex-direction: column;
}

.video__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  border-radius: 10px;
  height: 30em;
  margin: .8em auto 2em auto;
  background: conic-gradient(from 330deg at 73% 125%, rgba(171, 136, 32, 0.78), rgba(0, 0, 0, 1))
}
.description__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 30em;
  
}
.nosotros {
  width: 90%;
  padding: 50px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;  font-style: italic;
  margin-left: 1em auto 1em auto;
  color: rgb(12, 8, 8);
  
}
.capital {
  color: rgb(15, 13, 4);
}
.button {
  padding: 1em;
  background-color: rgb(17, 13, 2);
  font-weight: bolder;
  border-radius: .9em;
  width: 10em;
  color: darkgoldenrod;
}
.video {
  width: 50%;
  height: 22em;
  border: 5px solid darkgoldenrod;
  margin: 10px auto 10px auto;
}
.contenido__principal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.imagen__principal {
  width: 400px;
  height: 300px;
  border: 8px solid black;
}
.productos__galeria {
  display: flex;
  justify-content: center;
}
.galeria__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 33px;
}
.galeria__producto--img {
  width: 250px;
  height: 200px;
  background-color: black;
  border: 8px solid black;
}
@media only screen and (max-width: 768px) {
  .galeria__productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  nav {
    font-size: 16px;
  }
  .contenido__principal {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .galeria__productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar {
    display: flex;
    align-items: center;
  }
  ul li a {
    font-size: 16px;
  }
  .contenido__principal {
    flex-direction: column;
    align-items: center;
  }
}
.navbar-collapse{
  flex-grow: initial;
}
.tienda__container {
  display: grid;
  grid-template-columns: 200px 800px;
  grid-row: 200px 200px;
  width: 1000px;
  height: auto;
  margin: 50px auto 50px auto;
  background-color: rgba(33, 33, 54, 0.822);
  border-radius: 10px;
}
.tienda__container--imagen {
  width: 200px;
  height: 200px;
}
.tienda__imagen {
  width: 200px;
}
.description__title {
  font-family: 'Source Sans Pro', sans-serif;  font-style: italic;
  color: darkgoldenrod;
}
.tienda__container--description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1em;
  
}
.description__button {
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  height: 2em;
  background-color: darkorange;
  color: black;
  font-weight: bolder;
  margin-bottom: 3px;
  font-family: 'Source Sans Pro', sans-serif;  font-style: italic;
}
.separador {
    border-top: 1px solid rgba(31, 21, 68, 0.589);
    height: 2px;
    width: 80%;
    padding: 0;
    
  }
  .description__text {
    color: rgb(168, 164, 164);
  }

.carousel {
  width: 80%;
  height: 800px;
  margin: 4em auto 4em auto;
}

.carousel-imagenes {
  max-width: 100%;
  min-height: 100%;
  
}

